@keyframes movein {
  from {width: 25px; opacity: 0;}
  to {width: 475px; opacity: 1;}
}

body{
    font-family: "Poppins", sans-serif;
    background-image: url(../images/concrete_seamless.png);
    background-color: #f1f1f1;
  }

header{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#logo {
  width: 100%; 
  animation: 3s movein; 
}

.nav_links {
  display: flex;
  flex-wrap: wrap; 
}

.nav_item {
  width: 100%; 
  text-align: center; 
}

.pricing {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.gallery img{
  width: 100%;
}

.card {
  width: 100%; 
}


@media only screen and (min-width: 700px) {

  header {
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
  }

  #logo{
    width: 400px;
    display: flex;
 
  }

  .nav_links {
    flex-wrap: nowrap; 
  }

  .card{
    width: 300px;
  }

  .pricing{
    flex-wrap: nowrap;
  }

  .gallery {
    flex-wrap: wrap; 
  }

  .gallery img{
    width: 300px; 
  }

}
@media screen and (prefers-reduced-motion: reduce) {
  #logo {
      animation: none;
    }
  }

